*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
    margin: 0;
    padding: 0;
}

.navbar{
    height: 8vh;
    z-index: 3;
}
/* SignUP */
.signup{
    /* background: #000; */
    width: 100vw;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    /* overflow: hidden; */
}
.signup-content-container{
    /* border: 2px solid black; */
    box-shadow: 0 0 20px 0px;
    border-radius: 10px;
}
.signup-form{
    max-width: 400px;
    min-width: 350px;
    padding: 2.5rem 4rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-form h1{
    margin-bottom: 2.5rem;
}
.signup-form input:focus{
    border-bottom: 2px solid black;
}
.signup-form input{
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid black;
    outline: none;
}
.mb-3{
    position: relative;
}
.signup-form i{
    position: absolute;
    top: 30%;
    left: -25px;
    font-size: 1.2rem;
}
.signup-form button{
    margin-top: 1rem;
}
/* To disable the arrows present on input type="tel" */
#phone::-webkit-inner-spin-button, 
#phone::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.signup-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    background-size: contain;
    overflow: hidden;
    padding-bottom: 1rem;
}

/* ContactUs */

.contact-page{
    /* background: ; */
    padding: 2rem;
}
.get-in-touch-container{
    padding: 1rem 4rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.get-in-touch-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 0 10px 0 gray;
    border-radius: 10px;
    min-width: 300px;
}
.get-in-touch-content{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.get-in-touch-content h1{
    margin-bottom: 2rem;
}
.contact-container-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.contact-container-items .col-sm-3{
    min-width: 250px;
    max-width: 350px;
    margin: 1rem 2.5rem;
}
.contact-container-items .col-sm-2{
    min-width: 150px;
    max-width: 200px;
    margin: 1rem;
}
.contact-container-item{
    padding: 0.5rem 1rem;
    text-align: left;
    box-shadow: 0 0 5px 0 gray;
}
.contact-container-item .contact-item-title{
    margin-bottom: 0.2rem;
}


.mssg-container{
    width: 100%;
    /* padding: 0 4rem; */
    margin-bottom: 2rem;
    justify-content: center;
}
.mssg-container textarea{
    max-width: 800px;
}

/* Home */
.home-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 92vh;
    align-items: center;
    justify-content: center;
}
.home-container h1, h4{
    /* position: relative; */
    z-index: 1;
}
.home-bg{
    margin: 0;
    min-height: 92vh;
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
}
.home-bg .left{
    background: rgba(213, 188, 255, 1);
}
.home-bg .right{
    background: rgb(249, 246, 255);
}

/* ABout-Us */

.emp-profile{
    padding: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.emp-profile form{
    max-width: 600px;
    padding: 2rem;
}

.profile-work-links h6{
    margin: 2rem 0 3rem 0;
}
.profile-work-links a{
    text-decoration: none;
}
.profile-work-links h5{
    margin-bottom: 1rem;
}

.tabs{
    /* background: #000; */
    margin: 1.5rem;
    /* margin-left: 2rem; */
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.tabs__label{
    padding: 10px 16px;
    cursor: pointer;
}

.tabs__radio{
    display: none;
}

.tabs__content{
    order: 1;
    width: 100%;
    display: none;
}

.tabs__radio:checked+.tabs__label{
    font-weight: bold;
    color: blue;
}

.tabs__radio:checked+.tabs__label+.tabs__content{
    display: initial;
}
.tabs__content_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.about-title{
    padding: 1rem;
    margin-right: 3rem;
    min-width: 100px;
}
