*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
}
/* SignUP */
.signup{
    /* background: #000; */
    width: 100vw;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    /* overflow: hidden; */
}
.signup-content-container{
    /* border: 2px solid black; */
    box-shadow: 0 0 20px 0px;
    border-radius: 10px;
}
.signup-form{
    max-width: 400px;
    min-width: 350px;
    padding: 2.5rem 4rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-form h1{
    margin-bottom: 2.5rem;
}
.signup-form input:focus{
    border-bottom: 2px solid black;
}
.signup-form input{
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid black;
    outline: none;
}
.mb-3{
    position: relative;
}
.signup-form i{
    position: absolute;
    top: 30%;
    left: -25px;
    font-size: 1.2rem;
}
.signup-form button{
    margin-top: 1rem;
}
/* To disable the arrows present on input type="tel" */
#phone::-webkit-inner-spin-button, 
#phone::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.signup-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    background-size: contain;
    overflow: hidden;
    padding-bottom: 1rem;
}

/* ContactUs */

.contact-page{
    /* background: ; */
    padding: 2rem;
}
.get-in-touch-container{
    padding: 1rem 4rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.get-in-touch-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 0 10px 0 gray;
    border-radius: 10px;
    min-width: 300px;
}
.get-in-touch-content{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.get-in-touch-content h1{
    margin-bottom: 2rem;
}
.contact-container-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.contact-container-items .col-sm-3{
    min-width: 250px;
    max-width: 350px;
    margin: 1rem 2.5rem;
}
.contact-container-items .col-sm-2{
    min-width: 150px;
    max-width: 200px;
    margin: 1rem;
}
.contact-container-item{
    padding: 0.5rem 1rem;
    text-align: left;
    box-shadow: 0 0 5px 0 gray;
}
.contact-container-item .contact-item-title{
    margin-bottom: 0.2rem;
}


.mssg-container{
    width: 100%;
    /* padding: 0 4rem; */
    margin-bottom: 2rem;
    justify-content: center;
}
.mssg-container textarea{
    max-width: 800px;
}